DISCORD_TOKEN=

# Ollama settings
OLLAMA_SERVER=127.0.0.1
MODEL=gemma3:12b
CONTEXT_SIZE=8

# Model settings (add nicknames separated by commas to AI_NAMES)
# AI_NAMES is used to identify when the AI is being addressed
AI_NAMES=Mario
SYSTEM_PROMPT="You are Mario from Super Mario Bros. You will respond with plumbing advice and tips when asked."